@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

.containers{
width: 100%;
min-height: 100vh;
background:black;
}
nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 80px;
    line-height: 80px;
    z-index: 111;
    /* position: fixed; */
}
.logo{
    display: flex;
    font-size: 40px;
    font-weight: 800;
    color: #fff;
    letter-spacing: 3px;
    cursor: pointer;
    text-transform: uppercase;   
}

b{
    font-size: 70px;
    /* color: #7f00ff; */
    color: #19d26f;
}

.navItems{
    display: flex;
}

.navItems li{
    list-style: none;
    margin: 0 15px;
}

.navItems li a{
    font-size: 25px;
    color: #fff;
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: capitalize;
}

.navItems li:hover a,
.links a:hover{
    /* color: #7f00ff; */
    color: #19d26f;
}

.links a{
    font-size: 30px;
    color: #fff;
    margin: 25px 10px;
}

.wrapper{
    display: flex;
    width: 100%;
    height: calc(100vh - 80px);
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    overflow: hidden;
}

.wrapper::before{
    position: absolute;
    content: '';
    height: 400px;
    width: 400px;
    border-radius: 50%;
    left: -12%;
    top: 30%;
    /* background: linear-gradient(45deg,#7f00ff,pink); */
    background: linear-gradient(45deg,lightyellow,green);
    animation: object1 6s linear infinite;
    
}

.wrapper::after{
    position: absolute;
    content: '';
    height: 150px;
    width: 150px;
    border-radius: 50%;
    left: 35%;
    top: 13%;
    /* background: linear-gradient(45deg,#7f00ff,pink); */
    background: linear-gradient(45deg,green,lightyellow);
    animation: object2 6s linear infinite;
}

@keyframes object1{
    50%{
        right: -13px;
        top: 150px;
    }
}

@keyframes object2{
    50%{
        right: 35px;
        top: 80px;
    }
}

.cols{
    /* background: #000; */
    width: 500%;
}

.cols0{
    z-index: 5;
}

.topline{
    display: block;
    position: relative;
    font-size: 35px;
    letter-spacing: 5px;
    /* color: #3d535f; */
    color: #fff;
}

.topline::after{
    position: absolute;
    content: '';
    height: 4px;
    width: 45px;
    bottom: 10px;
    /* background-color: #7f00ff; */
    background-color:  #19d26f;

}

#h1{
    display: block;
    font-size: 5.5em;
    font-weight: 1000;
    color: white;
}

.multiText{
    color: #19d26f;
    text-transform: capitalize;
}

p{
    display: block;
    width: 100%;
    font-size: 1em;
    /* color: #3d535f; */
    color: #fff;
}

.btns{
    width: 100%;
    position: relative;
    left: 150px;
}

button{
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 25px;
    font-weight: 400;
    color: #fff;
    background-color: #3d535f;
    padding: 8px 14px;
    margin: 40px 5px;
    letter-spacing: 2px;
    text-transform: capitalize;
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
}

button:hover{
    /* background-color: #7f00ff; */
    background-color:#19d26f;
}

.imgbox{
    position: relative;
    /* background: #000; */
    margin-left: 160px;
    width: 100%;
    height: 100%;
}

.imgbox img{
    position: relative;
    height:100%;
    width: calc(100% - 80px);
    top: -100%;
    right: 50px;
    transform: rotatey(180deg);
    animation: animateuser 4s linear infinite;
    /* position: fixed; */
}

@keyframes animateuser{
    50%{
        right: 30px;
        top: -90px;
    }
}

.imgbox::after{
    position: absolute;
    content: '';
    height: 300px;
    width: 300px;
    border-radius: 50%;
    left: 45%;
    top: 13%;
    /* background: linear-gradient(45deg,#7f00ff,pink); */
    background: linear-gradient(45deg,lightyellow,green);
    animation: object2 6s linear infinite;
}

@keyframes object2{
    50%{
        right: 35px;
        top: 80px;
    }
}
/* ----------------------------------about------------------------------------------ */

#about{
    padding: 90px 80px;
    background: #000;
    width: 100%;
    color: white;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 90%;
    margin-top: 25px;

}

.about-col-2{
    flex-basis: 60%;
}
.subtitle{
    font-size: 60px;
    font-weight: 600;
}

.tab-title{
    display: flex;
    margin: 20px 0 40px;
    /* justify-content: space-around; */

    
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    /* background-color: #7f00ff; */
    background-color: #19d26f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span{
    /* color: #7f00ff; */
    color: #19d26f;
    font-size: 24px;
}

.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
/* ---------------------------------------services------------------------------------------------------ */
#services{
    padding: 80px 80px;
    background: #000;
    width: 100%;
    color: white;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover{
    /* background:#7f00ff ; */
    background:#19d26f ;
    color: #000;
    transform: translatey(10px);
}
/* -----------------------------------------------------porfolio -------------------------------------------*/

#portfolio{
    padding: 80px 80px;
    background: #000;
    width: 100%;
    color: #19d26f; 
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    height: 250px;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),#19d26f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: bolder;
    margin-bottom: 20px;

}
.layer a{
    margin-top: 20px;
    color: #19d26f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}

/* ---------------------------------------------------contact----------------------------------------------------- */

#contact{
    padding: 80px 80px;
    background: #000;
    width: 100%;
    color: white;    
}

/* .contact-left{
    flex-basis:35%;
}
.contact-right{
    flex-basis: 60%;
} */

.contact-left p{
    margin-top: 30px;
}

.contact-left p i{
    /* color: #7f00ff; */
    color: #19d26f;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons{
    margin-top: 30px;
}

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover{
    /* color: #7f00ff; */
    color: #19d26f;
    transform: translatey(-5px);
}

.btn{
    display: inline-block;
    border-radius: 10px;
}

.contact-right form{
    width: 100%;
}

form input, form textarea{
    width:100%;
    border: 0;
    outline:none;
    background: #262626;
    padding: 10px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

form .btn2{
    padding: 14px 60px;
    font-size:18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    /* margin-top: 20px; */
}
nav .fas{
    display: none;
}

.to-top{
    background:#19d26f;
    color: black;
    position: fixed;
    bottom: 16px;
    right:32px;
    width:50px;
    height :50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    text-decoration: none;
    opacity:0;
    pointer-events: none;
    transition: all .4s;
    margin-right: -20px;
}

.to-top.active{
bottom: 95px;
pointer-events: auto;
opacity: 1;
}
.nameheading{
    color: #19d26f;
}

/* ----------------------------------------------responsive--------------------------------- */

@media only screen and (max-width:600px){
    .topline{
        font-size: 40px;
    }
    #h1{
      font-size: 50px;
    }
    .nameheading{
        color: #000;
    }
    .multiText{
     font-size: 40px;
     color: black; 
    }
    p{
        font-size: 16px;
    }
    .cols.cols0{
        width: 100%;
    }
    .cols.cols1{
        width: 0;
    }
    .imgbox img{
        display: none;   
    }
    /* nav{
        width: 100%;
    } */
    .navItems{
        display: block;
    }

    nav .fas{
        display: block;
        margin-left: 20px;
    }

    nav ul{
        background: #3d535f;
        position: fixed;
        top: 0;
        right: -220px;
        width: 180px;
        height: 50vh;
        padding-top: 50px;
        z-index: 7;
        transition: right 0.5s;
        /* display: none; */
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .subtitle{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    #about{
        margin-top: -150px;
    }
}